.grid-container {
    display: grid;
        grid-template-columns: 1fr 0.3fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
    
            "navbar top-right"
    
            "main-content sidebar"
    
            "main-content sidebar"
    
            "footer footer";
    
        height: 100vh;
    
    }

    
    
    .navbar {
    
        grid-area: navbar;
    
        background-color: #ccc;
    
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    
    }


        .navitems {
            color: #444;


      }



      .postsContainer {
        border: 1px solid black;
        height: 150px;
        width: 100%;
        margin: 30px 5px;
        border-radius: 20px;
        box-shadow: 5px 5px 30px;
        text-indent: 40px;
    }
      



        .sidebar {
    
        grid-area: sidebar;
    
        background-color: #eee;
    
        padding: 20px;

        text-align: center;
    
         }

         .sidebarHeading {

         }

         #imageBox {
            margin: auto;
    background-color: aqua;
    height: 175px;
    width: 175px;
    border-radius: 15px;
         }

         #topicBar {
            display: flex;
            justify-content: space-evenly;
         }

        .topicName{ 
            margin: 0;
            margin-bottom: 30px;
        }

         #topicSearch {
            border-radius: 5px;
            transition: 1s ease;
            height: 20px;
            
         }

         #topicSearch:hover {
            border-radius: 15px;
            /* width: 200px;
            height: 25px; */
            box-shadow: 7px 7px 10px;
         }

         #help {
            text-decoration: none;
            margin-top: 328px;
            
         }
    
    
    
     .main-content {
    
     grid-area: main-content;
    
    background-color: #fff;
    
    padding: 20px;
    
     }
    
    
    
    .top-right {
    
    grid-area: top-right;
    
    background-color: #ddd;
    
     padding: 20px;
    
    }

    .buttons-container{
        display: flex;
        flex-direction: row-reverse;
        
        padding: 10px 20px;
        
        border-radius: 5px;
        
        font-size: 16px;
        
        font-weight: bold;
        
        text-align: center;
        
        text-decoration: none;
        
        color: #fff;
        
        transition: background-color 0.3s ease;
        
        }

        .button {
        background-color: #fff;
        padding: 10px;
        border-radius: 20px;
        text-decoration: none;
        color: pink;
        margin: 15px;
        

        }
        
        
        .signup {
        
       
        
        }
        
        
        
        
        .login {
        
        
        
        }
        
        
        
        
        .button:hover {
        
        background-color: #fff;
        
        }
    
    
    
    .bottom-right {
    
        grid-area: bottom-right;
    
        background-color: #bbb;
    
        padding: 20px;
    
     }
    
    
    
    
    .footer {
    
     grid-area: footer;
    
     background-color: #444;
     color: #fff;
    
     padding: 20px;
    
     text-align: center;
    
    }